<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpaCreated)="onBlueprintAdded($event)"
  >

  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <app-server-element
        [serverElements]="serverElements">
      </app-server-element>
    </div>
  </div>
</div>
